@model Workpaces.Models.Reserva

<h2>Editar Reserva</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.IdReserva)

    <div>
        <label for="SalaId">Sala:</label>
        <select id="SalaId" name="SalaId" class="form-control">
            @foreach (var sala in ViewBag.Salas as IEnumerable<Workpaces.Models.Sala>)
            {
                <option value="@sala.IdSala" @(sala.IdSala == Model.SalaId ? "selected" : "")>@sala.Nombre</option>
            }
        </select>
    </div>

    <div>
        <label for="UsuarioId">Usuario:</label>
        <select id="UsuarioId" name="UsuarioId" class="form-control">
            @foreach (var usuario in ViewBag.Usuarios as IEnumerable<Workpaces.Models.ApplicationUser>)
            {
                <option value="@usuario.Id" @(usuario.Id == Model.UsuarioId ? "selected" : "")>@usuario.UserName</option>
            }
        </select>
    </div>

    <div>
        <label for="Fecha">Fecha:</label>
        @Html.EditorFor(model => model.Fecha)
    </div>
    <div>
        <label for="HoraInicio">Hora de inicio:</label>
        @Html.EditorFor(model => model.HoraInicio)
    </div>
    <div>
        <label for="HoraFin">Hora de fin:</label>
        @Html.EditorFor(model => model.HoraFin)
    </div>
    <button type="submit">Guardar cambios</button>
}
