@model IEnumerable<Workpaces.Models.Reserva>
@{
    ViewBag.Title = "Home - Reserva de Salas";
}

<main style="text-align: center;">
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title" class="text-center">Reserva de Salas</h1>
        <p class="lead text-center">Encuentra y reserva las salas ideales para tus necesidades con facilidad y rapidez.</p>
    </section>

    <section class="row mt-4">
        @if (Model != null && Model.Any())
        {
            <p>Información de tus reservaciones</p>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HoraInicio)
                        </th>
                        <th>
                            Sala
                        </th>

                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Fecha.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HoraInicio)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Sala.Nombre)
                        </td>


                    </tr>
                }

            </table>
        }
        else
        {
            <div class="col-12 text-center">
                <p class="text-muted">No has reservado ninguna sala. Por favor, <a href="@Url.Action("Create", "Reserva", null)">Reservar una sala</a>.</p>

            </div>
        }
    </section>

   
</main>

<style>
    #title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: green;
    }

    .card {
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .card-footer {
        background-color: #f8f9fa;
    }
</style>