@model Workspaces.Usuario

@{
    ViewBag.Title = "Registro";
}

<div class="container my-5 d-flex justify-content-center">
    <div class="card p-5 shadow-lg" style="width: 400px; border-radius: 15px;">
        <h2 class="text-center mb-4">Registro de usuario</h2>

        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show mt-3 text-center" role="alert">
                @TempData["Message"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (ViewBag.ConfirmPasswordError != null)
        {
            <div class="alert alert-danger alert-dismissible fade show mt-3 text-center" role="alert">
                @ViewBag.ConfirmPasswordError
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.TextBoxFor(model => model.nombre, new { @class = "form-control", style = "border-radius: 10px;", placeholder = "Nombre" })
            </div>
            <div class="form-group mt-3">
                @Html.TextBoxFor(model => model.correo, new { @class = "form-control", style = "border-radius: 10px;", placeholder = "Correo" })
            </div>
            <div class="form-group mt-3">
                @Html.PasswordFor(model => model.contrasena, new { @class = "form-control", style = "border-radius: 10px;", placeholder = "Contraseña" })
            </div>
            <div class="form-group mt-3">
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" style="border-radius: 10px;" placeholder="Confirmar contraseña" />
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary" style="border-radius: 10px; padding: 10px 20px; width: 100%;">Registrar</button>
            </div>
        }

        <div class="text-center mt-3">
            <a href="@Url.Action("Login", "Usuario")" class="small">¿Ya tienes una cuenta? Iniciar sesión</a>
            <br />
        </div>
    </div>
</div>
